{include file='/common/header' /}
<div class="layui-layout-admin">
    <!--头部-->
    <div class="layui-header">
        <div class="layui-logo">{$title}</div>
        <!--<ul class="layui-nav layui-layout-left">-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">其他系统</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="{:url('admin/login/login')}">权限管理系统</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href=""><img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img">{$Request.session.admin_name} </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('/admin/login/unlogin')}">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <!--左侧-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="left-nav">
                {foreach $funcs as $key => $value}
                    <li class="layui-nav-item">
                        <a href="javascript:;">{$value.func_name}</a>
                        {foreach $value.two as $key1 => $value1}
                            <dl class="layui-nav-child">
                                <dd><a href="#" class="location" data-url="{:url($value1.func_url)}">{$value1.func_name}</a></dd>
                            </dl>
                        {/foreach}
                    </li>
                {/foreach}
                <!--<li class="layui-nav-item">-->
                    <!--<a href="javascript:;">权限管理</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="#" class="location" data-url="{:url('/admin/jurisdiction/list')}">功能列表</a></dd>-->
                    <!--</dl>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="#" class="location" data-url="{:url('/admin/role/list')}">角色列表</a></dd>-->
                    <!--</dl>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="#" class="location" data-url="{:url('/admin/admin/list')}">管理员列表</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <li class="layui-nav-item">
                    <a href="javascript:;">考试相关</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/exam_topic/list')}">考试专题</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/exam_paper/list')}">题库</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/paper_inspection/list')}">阅卷</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">考生相关</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/students/list')}">所有考生</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据统计</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/count/list')}">考试专题统计图表</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/count/exam_topic_count_view')}">考生参考率</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">运维管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/students/list')}">系统Bug</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="location" data-url="{:url('/admin/exam/list')}">执行流程</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--中间主体-->
    <div class="layui-body" id="container">
        <iframe id="container-iframe" src="" style="height:100%;width: 100%;" frameborder="0"></iframe>
    </div>
</div>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(left-nav)', function(elem){
            if (elem.hasClass('location')) {
                var url = elem.data('url');
                console.log(url);
                $('#container-iframe').attr('src', url);
            }
        });
        element.init();
    });
</script>