{include file='/common/header' /}

<!-- 导航条 -->
<div style="padding: 1rem 0rem 0.5rem 1rem;">
    <span class="layui-breadcrumb" lay-separator="—">
        <a href="">管线管理</a>
        <a href="">功能列表</a>
    </span>
</div>

<!-- 分割线 -->
<hr class="layui-bg-orange">

<!-- 主体内容 -->
<div class="bodyer" style="width: 95%;padding-left: 2.5%;">
    <button class="layui-btn layui-btn-sm" onclick="addRole();">添加角色</button>
    <table class="layui-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>角色名称</th>
                <th>简介</th>
                <th>状态</th>
                <th>创建人</th>
                <th>最后操作人</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {foreach $role_list as $key => $value}
            <tr>
                <td>{$value.id}</td>
                <td>{$value.role_name}</td>
                <td>{$value.role_introduction}</td>
                <td class="layui-form">
                    <input type="checkbox" {if $value.status eq 1}checked="" {/if}
                    lay-skin="switch" value="{$value.id}" lay-filter="status_on_off" lay-text="正常|禁用">
                </td>
                <td>{$value.staff}</td>
                <td>{$value.end_staff}</td>
                <td>{$value.ctime}</td>
                <td>{$value.utime}</td>
                <td>
                    <button id="up_role" onclick="up({$value.id},'{$value.role_name}','{$value.role_introduction}','{$value.jurisdiction_id}');" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>
                    <button id="del_role" onclick="del({$value.id})" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon"></i></button>
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>

<!--添加功能模板-->
<form action="#" method="post" class="layui-form pop-up-style" id="add-role-form" hidden>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="0" title="禁用" checked="">
            <input type="radio" name="status" value="1" title="正常">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label menu-label">角色名称</label>
        <div class="layui-input-inline menu-input-div input-normal">
            <input type="text" lay-verify="required" required id="role_name" name="role_name" class="layui-input" placeholder="请输入角色名称"/>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">分配功能:</label>
        <div class="layui-input-block">
            {foreach $func_list as $key => $value}
                <div>
                    <input type="checkbox" lay-filter="isAllChecked" value="{$value.data.id}" lay-skin="primary" title="全选({$value.data.func_name})">
                </div>
                {if isset($value.twoData)}
                    {foreach $value.twoData as $twoKey=>$twoValue }
                        <input type="checkbox" class="two_func_{$value.data.id}" name="two_func[{$value.data.id}][]" value="{$twoValue.id}" lay-skin="primary" title="{$twoValue.func_name}">
                    {/foreach}
                {/if}
            {/foreach}
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">角色简介</label>
        <div class="layui-input-block input-normal">
            <textarea placeholder="请输入功能简介" name="role_introduction" id="role_introdution" class="layui-textarea"></textarea>
        </div>
    </div>
</form>

<!--修改功能模板-->
<form action="#" method="post" class="layui-form pop-up-style" id="up-role-form" hidden>
    <div class="layui-form-item" style="padding-top: 10px;">
        <label class="layui-form-label menu-label">角色名称</label>
        <div class="layui-input-inline menu-input-div input-normal">
            <input type="text" lay-verify="required" required id="role_name" name="role_name" class="layui-input" placeholder="请输入角色名称"/>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">分配功能:</label>
        <div class="layui-input-block">
            {foreach $func_list as $key => $value}
            <div>
                <input type="checkbox" lay-filter="isAllChecked" value="{$value.data.id}" lay-skin="primary" title="全选({$value.data.func_name})">
            </div>
            {if isset($value.twoData)}
            {foreach $value.twoData as $twoKey=>$twoValue }
            <input type="checkbox" class="edit_two_func_{$twoValue.id}" name="edit_two_func[{$value.data.id}][]" value="{$twoValue.id}" lay-skin="primary" title="{$twoValue.func_name}">
            {/foreach}
            {/if}
            {/foreach}
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">角色简介</label>
        <div class="layui-input-block input-normal">
            <textarea placeholder="请输入功能简介" name="role_introduction" id="role_introdution" class="layui-textarea"></textarea>
        </div>
    </div>
</form>

<script>
    var form;
    layui.use(['table','element','form'], function() {
        var table = layui.table;
        var element = layui.element;
        form = layui.form;
        element.init();
        form.render();
        form.on('radio(two_func_radio)',function (data) {
            if (this.checked) {
                $('#one_func_select').show();
            }
        });
        form.on('radio(one_func_radio)',function (data) {
            if (this.checked) {
                $('#one_func_select').hide();
            }
        });
        form.on('checkbox(isAllChecked)', function(obj){
            var id = obj.value;
            if (this.checked) {
                $('.two_func_'+id).prop('checked',true);
            } else {
                $('.two_func_'+id).removeAttr('checked');
            }
            form.render();
        });
        //监听指定开关
        form.on('switch(status_on_off)', function(data){
            var status = 0;
            if (this.checked){
                status = 1;
            }
            var data = {id:this.value,status:status};
            curlAjax("{:url('admin/role/up_status')}",data,"commonResult");
        });
    });

    function up(id,role_name,role_introduction,jurisdiction_id) {
        var editJurId = JSON.parse(jurisdiction_id);
        if (editJurId != null) {
            jQuery.each(editJurId, function (key,val) {
                jQuery.each(val,function (k,v) {
                    $('.edit_two_func_'+v).prop('checked',true);
                    console.log('.edit_two_func_'+v);
                    form.render();
                });
            });
        }
        $('#edit_id').val(id);
        $('#edit_role_name').val(role_name);
        $('#edit_role_introduction').val(role_introduction);
        layerOpen('修改角色信息','#up-role-form',editRoleForm,['修改', '取消'],['400px;', 'auto']);
    }

    // 添加功能
    function addRole() {
        layerOpen('添加角色','#add-role-form',addRoleForm,['添加', '取消'],['500px', 'auto']);
    }

    function editRoleForm(data) {
        var editRoleName = $("#edit_role_name").val();
        var editRoleIntroduction = $("#edit_role_introduction").val();
        var editId = $("#edit_id").val();
        console.log(data);
        if (editRoleName.length == 0) {
            tipMsg(400,'角色名称不能为空',0);
            return false;
        }
        if (editRoleIntroduction.length == 0) {
            tipMsg(400,'功能地址不能为空',0);
            return false;
        }
        var data = {id:editId,role_name:editRoleName,role_introduction:editRoleIntroduction};
        curlAjax("{:url('role/up')}",data,'commonResult');
    }

    function addRoleForm(data) {
        var roleName = $("#role_name").val();
        var roleIntrodution = $("#role_introdution").val();
        if (roleName.length == 0) {
            tipMsg(400,'角色名称不能为空',0);
            return false;
        }
        if (roleIntrodution.length == 0) {
            tipMsg(400,'角色简介不能为空',0);
            return false;
        }
        // 请求添加功能
        curlAjax("{:url('role/add')}",data,'commonResult');
    }

    // 删除功能
    function del(id) {
        layer.confirm('确定要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            curlAjax("{:url('admin/role/del')}",{id:id},"commonResult");
        }, function(){
        });
    }

    function commonResult(data) {
        tipMsg(data.code,data.msg);
    }
</script>