{include file='/common/header' /}

<!-- 导航条 -->
<div style="padding: 1rem 0rem 0.5rem 1rem;">
    <span class="layui-breadcrumb" lay-separator="—">
        <a href="">考试相关</a>
        <a href="">待阅卷</a>
    </span>
</div>

<!-- 分割线 -->
<hr class="layui-bg-orange">

<!-- 主体内容 -->
<div class="bodyer" style="width: 95%;padding-left: 2.5%;">
    <form class="layui-form" action="">
        <table class="layui-table">
        <thead>
        <tr>
            <th>考生编号</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>手机号</th>
            <th>考试状态</th>
            <th>登录状态</th>
            <th>报名时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach $students as $key => $value}
        <tr>
            <td>{$value.id}</td>
            <td>{$value.examtopicstudent.name}</td>
            <td>{$value.examtopicstudent.email}</td>
            <td>{$value.examtopicstudent.phone}</td>
            <td>
                {if $value.status eq 0}
                待考试
                {elseif $value.status eq 1 /}
                正在考试
                {elseif $value.status eq 2 /}
                考试完成
                {/if}
            </td>
            <td>
                {if $value.login_status eq 0}
                <span style="color: red;">未登录</span>
                {elseif $value.login_status eq 1 /}
                <span style="color: green;">已登录</span>
                {/if}
            </td>
            <td>{$value.ctime}</td>
        </tr>
        <tr>
            <input type="hidden" name="student_exam_topic_id[]" value="{$value.student_exam_topic_id}">
            <td colspan="7">
                {foreach $value.student_paper_info as $studentPaperKey => $studentPaperValue}
                    <div style="margin:1% 0 1% 1%;">
                        {if $studentPaperValue.content.type eq 0}
                            {elseif $studentPaperValue.content.type eq 3 /}
                                <h5 style="margin: 1%;">
                                    {$studentPaperValue.content.title}({$studentPaperValue.content.score}分)
                                    <div class="layui-form-item" style="display:inline-block;width: 100px;float: right;">
                                        <input oninput="score({$studentPaperValue.content.score},this);" type="text" name="score[{$studentPaperValue.id}]" lay-verify="title" autocomplete="off" {if $studentPaperValue.is_deal eq 1}checked value="{$studentPaperValue.score}" {else /} {/if}placeholder="分数" class="layui-input">
                                    </div>
                                </h5>
                                <div style="margin: 1%;" class="layui-form-item layui-form-text">
                                    <textarea disabled placeholder="请输入答案" class="layui-textarea">{$studentPaperValue.answer}</textarea>
                                </div>
                        {else/}
                        {/if}
                    </div>
                {/foreach}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
        {if !empty($students)}
            <button lay-submit="" lay-filter="apply" class="layui-btn layui-btn-warm" style="float: right;margin-right: 2%;">提交</button>
        {/if}
    </form>
    {$count|raw}
</div>
<script>
    var form;
    layui.use(['table','element','form'], function() {
        var table = layui.table;
        var element = layui.element;
        form = layui.form;
        element.init();
        form.render();
        //监听提交
        form.on('submit(apply)', function(data){
            console.log(data.field);
            curlAjax("{:url('paper_inspection/apply')}",data.field,'commonResult');
            return false;
        });
    });

    function commonResult(data) {
        tipMsg(data.code,data.msg);
    }

    var score = function (score,myself) {
        var inputScore = $(myself).val();
        var patrn = /^\+?[1-9][0-9]*$/;　　//判断是否为正整数
        if (!patrn.test(inputScore)) {
            $(this).val(1);
            inputValue = 0;
            $(myself).val(0);
        }
    };

</script>

