{include file='/common/header' /}
<style>
    body{
        background: #2C3E50;
    }
    .font-bs {
        color: #ffffff;
    }
    .font-red {
        color: red;
    }
    .std-info {
        padding-left: 30%;
        font-size: 1.5rem;
    }
</style>
<div class="layui-container" >

    <div class="layui-row" id="sign-up" style="margin-top: 7%;">
        <div class="layui-col-md2" style="">
            &nbsp;
        </div>
        <div class="layui-col-md8" style="">
            <div class="my-header" style="height: 100px;padding-top: 5%;">
                <div style="margin: 0 auto;" class="font-bs">
                    <h1 style="text-align: center;">{$exam_topic_info.name}</h1>
                </div>
                <div class="font-bs" style="display: inline-block;margin: 0 auto; padding-left: 35%;margin-top:7%;">
                    距离考试开始还有:
                    <span class="layui-word-aux" style="color: green;" id="countdown"></span>
                </div>
            </div>

            <div class="student-info font-bs" style="margin-top: 10%;">
                <div class="std-info">姓名：{$student_info.name}</div>
                <div class="std-info">性别：{if $student_info.sex eq 0}男{else/}女{/if}</div>
                <div class="std-info">考号：{$student_info.id}</div>
            </div>

            <div class="student-info font-bs" style="margin-top: 2%;">
                <div class="std-info">时长：{$exam_topic_info.test_time_length}分钟</div>
                <div class="std-info">开始时间：{$exam_topic_info.test_start_time}</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-lg layui-btn-disabled" style="margin-top: 10%;margin-left: 35%">开始考试</button>
                </div>
            </div>
            <div style="margin-top: 20%;">
                <p style="text-align: center;" class="font-red">
                    注:{$exam_topic_info.introduction}<br>
                </p>
            </div>
        </div>
        <div class="layui-col-md2" style="">
            &nbsp;
        </div>
    </div>
</div>
<script>
    var layer;
    layui.use(['util', 'laydate', 'layer'], function(){
        var util = layui.util
            ,laydate = layui.laydate;
        layer = layui.layer;
        //倒计时
        var thisTimer, setCountdown = function(y, M, d, H, m, s){
            var endTime = new Date(y, M||0, d||1, H||0, m||0, s||0) //结束日期
                ,serverTime = new Date(); //假设为当前服务器时间，这里采用的是本地时间，实际使用一般是取服务端的
            clearTimeout(thisTimer);
            util.countdown(endTime, serverTime, function(date, serverTime, timer){
                var str = "<span style='color: red;'>"+date[0] + '天' + date[1] + '时' +  date[2] + '分' + date[3] + '秒'+"</span>";
                lay('#countdown').html(str);
                thisTimer = timer;
            });
        };
        var dateTime = "{$exam_topic_info.test_start_time_new}".split('-');
        setCountdown(dateTime[0],dateTime[1]-1,dateTime[2],dateTime[3],dateTime[4],dateTime[5]);
        // 获取id进行登录
        var wsUri ="ws://127.0.0.1:7777/ws";
        var output;

        $(function () {
            init();
        });

        function init() {
            testWebSocket();
        }

        function testWebSocket() {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function(evt) {
                onOpen(evt)
            };
            websocket.onclose = function(evt) {
                onClose(evt)
            };
            websocket.onmessage = function(evt) {
                onMessage(evt)
            };
            websocket.onerror = function(evt) {
                onError(evt)
            };
        }

        function onOpen(evt) {
            // 将用户id发送过去
            var studentId = "{$student_info.id}";
            var examTopicId = "{$exam_topic_info.id}";
            doSend({Student_id:studentId,Exam_topic_id:examTopicId,Curl_type:'exam_login'});
        }

        function onClose(evt) {
        }

        function onMessage(evt) {
            if (evt.data == "heartbeat") {
                return;
            }
            var data = JSON.parse(evt.data);
            switch (data.Curl_type) {
                case "exam_login":
                    if (data.Code == 200) {
                        console.log(data);
                        tipMsg(data.Code, data.Msg, 0, false, false, false);
                    } else {
                        tipMsg(data.Code, data.Msg, 0, false, false, false);
                    }
                    break
            }
        }

        function onError(evt) {
            alert('连接失败');
        }

        function doSend(message) {
            websocket.send(JSON.stringify(message));
        }

        function sendBtnClick(){
            var msg = document.getElementById("input").value;
            doSend(msg);
            document.getElementById("input").value = '';
        }
        function closeBtnClick(){
            websocket.close();
        }
    });


</script>