<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>在线考试后台管理系统!</title>
    <meta name="keywords" content="tuzisir" />
    <meta name="description" content="tuzisir" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="/static/common/css/tuzisir.css" rel="stylesheet">
    <link href="/static/plugins/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/common/js/my.js"></script>
    <script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
</head>
<body>
