<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>在线考试后台管理系统</title>
<link href="/static/admin/css/login.css" rel="stylesheet" type="text/css" />
<link href="/static/plugins/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/js/my.js"></script>
<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
</head>
<body onLoad="" >

<div class="videozz"></div>
	<video  autoplay muted loop poster="/static/admin/img/fallba1ck.jpg">
		<source src="/static/admin/img/mov.mp4">
		你的游览器不支持video支持
	</video>
    
<div class="box">
	<div class="box-a">
    <div class="m-2">
          <div class="m-2-1">
            <form action="" class="layui-form" method="post">
                <div class="m-2-2">
                   <input type="text" name="admin_name" lay-verify="required" placeholder="请输入账号" />
                </div>
                <div class="m-2-2">
                   <input type="password" name="admin_password" lay-verify="required" placeholder="请输入密码"/>
                </div>
                <div class="m-2-2-1">
                    <input type="text" lay-verify="required" name="captcha" style="background: #ccc" placeholder="请输入验证码"/>
                    <img style="width: 100px;height: 40px;" onclick="this.src='{:captcha_src()}'" src="{:captcha_src()}" alt="captcha" />
                </div>
                <div class="m-2-2">
                   <button lay-submit="" lay-filter="login-btn" type="submit" value="登陆" /> 登陆
                </div>
                    
            </form>
          </div>
    </div>
    <div class="m-5">
    <div id="m-5-id-1">
    <div id="m-5-2">
    <div id="m-5-id-2">
    </div>
    </div>
    </div>
    </div>
    <div class="m-9"><div class="" style="color: #ccc;" id="">在线考试后台管理系统</div></div>
    <div class="m-15-a">
    </div>
    </div>
</div>
<script src="/static/admin/js/common.min.js"></script>
</body>
<script>
    var form;
    layui.use(['form'], function() {
        form = layui.form;
        //监听提交
        form.on('submit(login-btn)', function(data){
            var params = data.field;
            curlAjax("{:url('admin/login/login')}",params,"commonResult");
            return false;
        });
    });
    function commonResult(data) {
        tipMsg(data.code,data.msg);
        if (data.code == 200) {
            window.location.href="{:url('index/index')}";
        }
    }
</script>
</html>
